name: Run code tests

on:
  pull_request:
    branches:
      - master
      - develop
    paths:
      - src/**
      - .github/workflows/**
  # Upload code coverage results when PRs are merged
  push:
    branches:
      - master
      - develop
    paths:
      - src/**
      - .github/workflows/**

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        graphqlversion:
          - 5.0.0
          - 5.1.0
          - 5.1.1
          - 5.2.0
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Setup .NET Core SDKs
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
          source-url: https://nuget.pkg.github.com/graphql-dotnet/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Disable MSVS Nuget Source # see https://github.com/graphql-dotnet/graphql-dotnet/issues/2422
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: dotnet nuget disable source 'Microsoft Visual Studio Offline Packages'
      - name: Install dependencies with GraphQL version ${{ matrix.graphqlversion }}
        working-directory: src
        run: dotnet restore -p:GraphQLTestVersion=${{ matrix.graphqlversion }}
      - name: Check formatting
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        working-directory: src
        run: |
          dotnet format --no-restore --verify-no-changes --severity warn || (echo "Run 'dotnet format' to fix issues" && exit 1)
      - name: Build solution [Release]
        working-directory: src
        run: dotnet build --no-restore -c Release -p:GraphQLTestVersion=${{ matrix.graphqlversion }}
      - name: Build solution [Debug]
        working-directory: src
        run: dotnet build --no-restore -p:GraphQLTestVersion=${{ matrix.graphqlversion }}
      - name: Test solution [Debug]
        working-directory: src
        run: dotnet test --no-restore --no-build -p:CollectCoverage=true
      - name: Upload coverage to codecov
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        uses: codecov/codecov-action@v1.2.1
        with:
          files: .coverage/GraphQL.Authorization.Tests/coverage.net5.opencover.xml

  buildcheck:
    needs:
      - test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Pass build check
        if: ${{ needs.test.result == 'success' }}
        run: exit 0
      - name: Fail build check
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
